@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
h1, h2, h3{
    text-align: center;
    text-transform: uppercase;       
    font-family: 'Lato', sans-serif;    
}
.float-container{
    border: 3px solid rgb(255, 255, 255);
    padding: 50px;
    height: 150px;
    background-color: white;
    display: flex;
    font-family: 'Lato', sans-serif;
}
.float-child-title{
    width: 40%;
    min-height: 200px;
    border: 2px;
    border-radius: 25px;
    margin: 20px;
    background-color: rgb(250, 221, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.float-child-des{
    width: 40%;
    min-height: 200px;
    border: 2px;
    border-radius: 25px;
    margin: 20px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
