.container-flui{
    display: flex;
    margin-left: 0;
}
.header{
    display: flex;
    flex: .3;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 97, 26);
    height: 100vh;
    width: 10vw;
}
.header h1{
    transform: ;
    writing-mode: vertical-rl;
}
.section-list{
    flex: 6;
    margin: 5px;
}
.section-form{
    flex: 4;
}
#impStar{
    font-size: 2rem;
    cursor: pointer;
    color: cornflowerblue;
}
#impStar:hover{
    color: rgb(119, 193, 236);
}

/* Task Display */
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin:5px;
    padding: 5px;
    background-color: rgba(156, 212, 60, 0.432);
}
.import{
    flex: 1;
}
.task-body{
    flex: 8;
    justify-content: center;
}
.task-btn{
    flex: 2;
}