/* HEADER */
header h1{
    margin: 1rem;
}
header nav{
    /* margin-right: 1rem; */
}
header nav a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(white,white);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: 100% 0;
    transition: background-size .25s ease-in-out, color .25s ease-in-out;
}
header nav a:hover{
    background-size: 100% 100%;
    color: black;
}