@font-face {
    font-family: 'Pigiarniq';
    src: url('Pigiarniq-Bold.woff2') format('woff2'),
        url('Pigiarniq-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

